<!DOCTYPE HTML>

<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
					<script
  				src="https://code.jquery.com/jquery-1.12.4.min.js"
  				integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  				crossorigin="anonymous"></script>
	</head>
	<body>

		<script type="text/javascript">
	        window.addEventListener('load', function() {

	      // Checking if Web3 has been injected by the browser (Mist/MetaMask)
	        if (typeof web3 !== 'undefined') {
	        // Use Mist/MetaMask's provider
	            window.web3 = new Web3(web3.currentProvider);
	            //console.log('MetaMask');
	            //window.web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
	        } else {
	            console.log('No web3? You should consider trying MetaMask!')
	        // fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
	            window.web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
	        }

	        })

   		 </script>
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">Tenancy Agreement Verifier</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h3><img style= "width: 80px; float: left" src= "../../static/img/Logo.png" />
								<h2>Tenancy Agreement Verifier</h2>

								<p>Ensure the security and fairness of your tenancy agreement!</p>
								<ul class="actions">

								<li><input type="button" value="Set up an agreement" id="scrollToSetup" /></li>

								<script type="text/javascript">
									$("#scrollToSetup").click(function() {
									    $('html, body').animate({
									        scrollTop: $("#setupBegin").offset().top
									    }, 2000);
									});
								</script>

								<li><input type="button" value="Pay Deposit" id="scrollToPay" /></li>

								<script type="text/javascript">
									$("#scrollToPay").click(function() {
									    $('html, body').animate({
									        scrollTop: $("#startPay").offset().top
									    }, 2000);
									});
								</script>


								<li><input type="button" value="Create a claim" id="scrollToClaim" /></li>
								
								<script type="text/javascript">
									$("#scrollToClaim").click(function() {
									    $('html, body').animate({
									        scrollTop: $("#setupStart").offset().top
									    }, 2000);
									});
																			
								</script>

								<li><input type="button" value="Judge a claim" id="scrollToVote" /></li>
								
								<script type="text/javascript">
									$("#scrollToVote").click(function() {
									    $('html, body').animate({
									        scrollTop: $("#judgeStart").offset().top
									    }, 2000);
									});
																			
								</script>

								<li><input type="button" value="End judging" id="scrollToEnd" /></li>

								<script type="text/javascript">
									$("#scrollToEnd").click(function() {
									    $('html, body').animate({
									        scrollTop: $("#startEnd").offset().top
									    }, 2000);
									});
								</script>
							</ul>
							</div>

						</header>


						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<section>
										<h3 class="major">What are we?</h3>
										<p>Thousands of landlords and tenants are dealt with unfairly every single day. We are a small group with a grand ambition to ensure that all tenancy disputes are dealt with fairly and securely!	</p>									 
										<p>The Tenancy Agreement Verifier is an Ethereum Smart Contract based system that securely stores your tenancy agreements and handles deposit disputes in a fair and decentralised manner. </p>
										<p>At the start of the agreement, once both sides have signed the smart contract, the agreed upon deposit is stored on the smart contract. At the end of the tenancy, the deposit is returned to the tenant. </p>
										<p>In the unlikely event that a tenant breaks the terms of his/her agreement, the landlord can raise a case through the system and provide evidence towards their claim. Multiple verified users will then be able to review the case and provide their judgement based on the evidence provided. </p> 
										<p> Based on the votes of the jurors, the claim will either pass causing the deposit to go to the landlord or it will fail thus allowing the tenancy to continue as normal.
										Each time a landlord raises a case, a small fee will be taken. This fee will then be given to the jurors as a voting incentive. </p>
										<h4>But what do our users think?</h4>
										<blockquote id="setupBegin">"For once I was able to rent accommodation and actually get my full deposit back at the end of my tenancy! This is the best invention since the electric motor and I certainly hope that it wins a well deserved Royal Hackaway prize!"</blockquote>
										
								</section>

									<section>
										<div >
										<p> </p>
										</div>
										<div class="20u">
										<h3 class="major">Setup your tenancy agreement</h3>
										<form action="">
											<div class="row uniform">
												<div class="6u">
													<label for="address">Ethereum Address of Landlord</label>
													<input type="text" name="address" id="address" value="" size="512" />
												</div>
												<div>
													<label for="id">Deposit</label>
													<input type="text" name="deposit" id="deposit" value="" size="512" />
												</div>
												<div class="6u">
													<label for="name">Name of Tenant</label>
													<input type="text" step="any" min="0" name="name" id="name" value="" />
												</div>
												<div class="6u">
													<label for="address">Ethereum Address of Tenant</label>
													<input type="text" step="any" min="0" name="tenantAddress" id="tenantAddress" value="" />
												</div>
												<div class="12u" id="setupStart">
													<ul class="actions">
														<li id= "startPay"><input type="button" value="Setup Agreement" id="setupButton" /></li>
													</ul>
												</div>
											</div>
										</form>
									
										<script type="text/javascript">
											$( document ).ready(function() {

												console.log('Getting button');
												var button = document.getElementById('setupButton');

												button.onclick = function() {
													console.log('User clicked setupButton');

													console.log('Getting landlord address');
													var landlordAddress =  document.getElementById('address').value;
													console.log(landlordAddress);

													var tenantName = document.getElementById('name').value;
													console.log(tenantName);

													console.log('Engaging in awesomeness.');
													var tenantAddress = document.getElementById('tenantAddress').value;
													console.log(tenantAddress);

													var deposit = document.getElementById('deposit').value;

													console.log('Approving Transaction');

													setupAgreement(landlordAddress, tenantName, tenantAddress, deposit);
												}
											});
											
										</script>

										</div>

										<div class="20u">
										<h3 class="major">Pay your deposit (for tenant)</h3>

										<div>
											<label for="id">Deposit</label>
											<input type="text" name="payDeposit" id="payDeposit" value="" size="512" />
										</div>

										<div class="12u" id="payDeposit">
											<ul class="actions">
												<li><input type="button" value="Pay Deposit" id="payDepositButton" /></li>
											</ul>
										</div>

										<script type="text/javascript">
											$( document ).ready(function() {

												console.log('Getting button');
												var button = document.getElementById('payDepositButton');

												button.onclick = function() {
													console.log('User clicked payDepositButton');

													var deposit = document.getElementById('payDeposit').value;

													payDeposit(deposit);
												}
											});
											
										</script>

										</div>

										<div class="20u" >
										<h3 class="major">Create a claim against your tenant</h3>
										<form action="" id="Create">
											<div class="row uniform">
												<div class="6u">
													<label for="tenantAddress2">Ethereum address of the tenant</label>
													<input type="text" name="tenantAddress2" id="tenantAddress2" value="" size="512" />
												</div>
												<div class="6u">
													<label for="claimDetails">Details regarding your claim.</label>
													<input type="text" name="claimDetails" id="claimDetails" value="" size="1024" />
												</div>
												<div class="12u">
													<ul class="actions">
														<li id="judgeStart"><input type="button" value="Create Claim" id="createClaimButton" /></li>
													</ul>
												</div>
											</div>
										</form>

										<script type="text/javascript">
											$(document).ready(function(){

												var button = document.getElementById("createClaimButton");
												
												button.onclick = function() {
													console.log("Claim button clicked");
													var tenantAddress =  document.getElementById("tenantAddress2").value;
													var claimDetails = document.getElementById('claimDetails').value;
													
													console.log("Successfully retrieved images of Flinn being an idiot");

													console.log(document.getElementById("tenantAddress2").value);
													console.log(document.getElementById('claimDetails').value);

													console.log("Generating Claim");
													generateClaim(claimDetails, tenantAddress);
												}
											});
										</script>
										</div>

										<div class="20u" id ="startEnd">
										<h3 class="major">End claim and evaluate judging results</h3>

										<div class="6u">
													<label for="tenantAddress2">Claim ID</label>
													<input type="number" name="claimID" id="claimID" value="" />
										</div>

										<div class="12u">
											<ul class="actions">
												<li id="End Claim"><input type="button" value="End Claim" id="endClaimButton" /></li>
											</ul>
										</div>

										<script type="text/javascript">
											$(document).ready(function(){

												var button = document.getElementById("endClaimButton");
												
												button.onclick = function() {

													var claimId = document.getElementById('claimID').value;

													makeDecision(claimId);
													console.log("Claim button clicked");

													}
											});
										</script>
										</div>

										<div class="20u" >
										<h3 class="major">Judge a Tenancy Agreement claim</h3>

										<form id="myForm">
										    <select id="selectNumber" onchange="report(this.value)">
										        <option>Choose a number</option>
										    </select>
										</form>

										<p id="blockchainClaimDetails"></p>

										<form action="" id="Create">
											<div class="row uniform">
												<div class="6u">
													<label for="tenantAddress2">Ethereum address of the tenant</label>
													<input type="text" name="tenantAddress3" id="tenantAddress3" value="" size="512" />
												</div>
												<div class="6u">
													<label >Your Vote</label>
												</div>
												<div>
												    <input type="radio" value=false id="VoteForLandlord"
												     name="VoteforLandlord">
												    <label for="VoteForLandlord">Landlord is correct</label>

												    <input type="radio" value=true id="VoteForTenant"
												     name="VoteForTenant">
												    <label for="VoteForTenant">Tenant is correct</label>


												</div>
												<div class="12u">
													<ul class="actions">
														<li><input type="button" value="Submit Vote" id="submitVoteButton" /></li>
													</ul>
												</div>
											</div>
										</form>

										<script type="text/javascript">
											$(document).ready(function(){

												var button = document.getElementById("submitVoteButton");
												
												button.onclick = function() {
													console.log("Submit vote button clicked");
													var tenantAddress =  document.getElementById("tenantAddress3").value;
													var vote;

													if ( document.getElementById('VoteForLandlord').checked){
														vote = document.getElementById('VoteForLandlord').value;
													}
													if ( document.getElementById('VoteForTenant').checked){
														vote = document.getElementById('VoteForTenant').value;
													}
													
													console.log("Successfully retrieved radio information");

													console.log(document.getElementById("tenantAddress3").value);

													console.log("Sending Vote");
													submitVote(tenantAddress, vote);
												}
											});
										</script>
										</div>

									</section>

								</div>
							</div>

					</section>

					<section>
									

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; Aquilla Inc. All rights reserved.</li>
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											
								<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->

			<script src="../../static/js/abi.js"></script>

			<script src="../../static/js/blockdemo.js"></script>

			<script src="../../static/js/web3.min.js"></script>

			<script src="../../static/js/gen_validatorv4.js"></script>

	</body>
</html>